/* '*' - selects all elements */
* {
	/* margin: 0; */
	/* padding: 0; */
	list-style: none;
	margin: 10px;
	padding: 2px;
	box-sizing: border-box;
}

/* default light mode (body) */
body {
	/* display: flex; */
	/* color: black; */
	color: #222;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #F8F8F8;
	transition: 0.5s;
}

/* dark mode (body) */
body.dark {
	/* background: #2B2B2B; */
	background: #121212;
	color: #F8F8F8;
}

	/* Hide default HTML checkbox */
	.checkbox {
		opacity: 0;
		position: absolute;
	}

	/* The rounded rectangle around the ball slider (default light mode) */
	.label {
		position: relative;
		display: block;
		border-radius: 50px;
		padding: 5px;
		height: 26px; 
		width: 50px;
		border-radius: 50px;
		transition: 0.5s;
		cursor: pointer; 
		background: #FFF;
		box-shadow: inset 0 0.2px 6px rgba(0,0,0,0.1),
					inset 0 0.2px 1px rgba(0,0,0,0.1),
					inset 0 -0.4px 1px rgba(0,0,0,0.05);
	}

	/* The rounded rectangle around the ball slider (dark mode) */
	.label.dark {
		background: #222;
		box-shadow: inset 0 1px 6px rgba(0,0,0,0.1),
					inset 0 1px 1px rgba(0,0,0,0.1),
					inset 0 -0.4px 0.4px rgba(0,0,0,0.1);
	}

	/* The slider (default light mode) */
	.ball {
		position: absolute;
		cursor: pointer;
		top: 2px;
		left: 2px;
		height: 22px;
		width: 22px;
		margin: 0;
		background: linear-gradient(to bottom, #EAEAEA, #F9F9F9);
		border-radius: 50%;
		/* box-shadow: 0 1px 6px rgba(0,0,0,0.1), */
		box-shadow: 0 1px 8px rgba(0,0,0,0.1),
                        inset 0 0.4px 0.4px rgba(255,255,255,1),
                        inset 0 -0.4px 0.4px rgba(255,255,255,1);
		transition: 0.5s;
	}

    /* The slider (dark mode) */
    .ball.dark {
		position: absolute;
		cursor: pointer;
		top: 2px;
		left: 2px;
		height: 22px;
		width: 22px;
        background: linear-gradient(to bottom, #444, #222);
        /* box-shadow: 0 1px 6px rgba(0,0,0,0.5), */
        box-shadow: 0 1px 8px rgba(0,0,0,0.5),
					inset 0 0.4px 0.4px rgba(255,255,255,0.2),
        			inset 0 -0.4px 0.4px rgba(255,255,255,0.2);
    }

    /* when checkbox is checked */
    .checkbox:checked + .label .ball {
        transform: translateX(24px);
    }

/* formatting */
	a {
		color: #444;
	}

	h1 {
        font-size: 36px;
        line-height: 54px;
    }

	h2 {
        border-bottom: 2px solid #ccc;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }

	h3 {
        font-size: 18px;
        line-height: 36px;
    }

	p {
        margin-bottom: 18px;
    }

	.main {
        overflow: hidden;
    }

	.branding {
        clear: both;
    }